body,html {
 background-color: #442960;
 margin:0;
 padding: 0;
}

img {
 max-width:100%;
 max-height:100%;
}

p{
 color: white;
 text-align: left;
 font-family: Arial, Helvetica, sans-serif;
} 

a{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
} 

span{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
} 

.top_panel {
 width:100%;
 position:relative;
 margin:0;
 padding: 0;
}

.wrapper {
 position:relative;
 margin:0;
 padding: 0;
}

.left_panel {
 width:20%; 
 position:absolute;
 left:0;
 text-align:left;
 margin:0;
 padding: 0;
}

.center_panel {
 width:60%;
 position:absolute;
 padding-left: 20%;
 text-align:center;
 margin:0;
}

.right_panel {
 width:20%;
 position:absolute;
 right:0;
 text-align:right;
 margin:0;
 padding: 0;
}

.center_left {
 width:60%;
 position:absolute;
 padding-left: 20%;
 text-align:left;
 margin:0;  
}

